body {
    background-image: url('/Artificial-Monopoly.jpg'); /* Adjust the path as necessary */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 300px;
    margin: auto;
    padding-top: 50px;
}

h1 {
    color: #1DB954; /* Spotify green */
}

h2 {
    margin-bottom: 20px;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
}

button {
    width: 100%;
    background-color: #1DB954; /* Spotify green */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1ed760; /* Lighter green on hover */
}