body {
  position: relative; /* Add this line to ensure absolute positioning within the body */
  background-image: url('/images/space_2.jpg'); /* Adjust the path as necessary */
  background-size: cover; /* Cover the entire page */
  background-position: fixed;
  background-repeat: no-repeat; /* Do not repeat the image */
  color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 300px; /* Set a specific width for the body */
  overflow: visible; /* Ensure that overflow content is visible */
}
  
  button {
    background-color: #1DB954; /* Spotify green */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1ed760; /* Lighter green on hover */
  }

  /* Style for the buttons container */
.buttons-container {
  margin-bottom: 20px; /* Space below the button container */
}

  #musicPlayerPopup {
    display: none;
    position: absolute;
    left: 0; /* Align to the left or as desired */
    top: 100%; /* Position it below the buttons */
    width: 100%; /* Match the width of the parent or as desired */
    /*background-color: #282828; Match Spotify's secondary background color */
    z-index: 10; /* Ensure it's above other elements */
    /* Additional styling */
}

#songList {
  list-style: none;
}

/* Style for the audio player container */
.player-container {
  margin-left: 11px;
}

/* Style for the song list container */
.song-list-container {
  width: 100%; /* Full width */
  list-style: none; /* Removes the default list styling */
  padding: 0;
  margin: 0;
  margin-left: -20px;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

/* Style for each song item */
.song-item {
  cursor: pointer;
  background-color: #282828; /* Spotify-like item background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Top/bottom and left/right padding */
  border-radius: 20px; /* Rounded corners */
  margin: 5px 0; /* Margin between items */
  width: calc(100% - 40px); /* Full width minus padding */
  text-align: center; /* Center text */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.song-item:hover {
  background-color: #1ed760; /* Lighter green on hover */
}

/* Add a general style for containers */
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  width: 100%; /* Take full width */
}